<img src="https://i.ytimg.com/vi/39Crffx43T8/mqdefault.jpg" alt="alternatetext" style="width:1000px;">

# Numbers and more in Python!

### Basic Arithmetic
let us start writing simple python code and get familiair with coding

In [33]:
# Addition --> we will start with the simplest code --> addition.    as we can see that the result(the output) of our code
#                                                                    will appear under the cell

2+1

3

In [34]:
1+1

2

In [35]:
# Subtraction
2-5

-3

In [36]:
# Multiplication
2*2

4

In [37]:
# Division
3/2

1.5

In [38]:
# Floor Division
7/4

1.75

**So what if we just want the remainder after division?**

In [39]:
7%2

1

### Arithmetic continued

In [40]:
# Powers
2**3

8

In [41]:
# Can also do roots this way
4**0.5

2.0

In [42]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [43]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

### Data types

#### integers
#### floats
#### list

#### tuple

#### dictionary
#### booleans
#### sets

# Get the type

In [44]:
type(5)

int

In [45]:
type(5.5)

float

# Print Statements

**what if i want to print 5 + 6 and 7 + 9? why in the following cell it only printed 7 + 9**

In [46]:
5 + 6
7 + 9

16

**to solve the problem above we use print command**

In [47]:
print(5 + 6)
print(7 + 9)

11
16

**Other print examples**

In [48]:
print("Hello World")

Hello World

In [49]:
print("Welcome")
print(50)
print(3.4)
print("Hello world ")
print("my age = ",30)

Welcome
50
3.4
Hello world
my age =  30

**How to prevent printing new line**

In [50]:
print("Hello", end=" ")
print("World", end="")

Hello World

# Comments

**Single Line comment**

In [51]:
# print("Welcome")

**Multiple Line comment**

In [52]:
'''I have started machine
learning course at Amit'''


# I have started machine
# Learning Course at Amit

print("Amit")

Amit

# Variabels

In [53]:
name = "Ahmed"
age = 24

In [54]:
age += 1
print(age)

25

In [55]:
type(name)

str

In [56]:
#  assign a single value to severalvariables
a = b = c = 1
print(b)

1

In [57]:
# assign multiple objects to multiplevariables
a, b, c = 1, 2, "Ali"
print(c)

Ali

In [58]:
# Variables are Case-Sensitive
X = 2
x = 5
print(X)
print(x)

2
5

# Multiple line statements & One-line  statements

**Multiple Line Statements**

In [59]:
# Example 1: Breaking a long line
message = "This is a long message that needs to be " \
          "broken into multiple lines for readability."

# Example 2: Continuing an expression
result = (2 + 3 +
          4 * 5)

In [60]:
print(message)
print(result)

This is a long message that needs to be broken into multiple lines for readability.
25

In [61]:
x = 10; y = 20; z = x + y

name = "John"; age = 30; city = "New York"

In [62]:
print(name,age,city)

John 30 New York

##  Python identifier

<img src="https://cpad.ask.fm/690/595/713/-439996995-1sqcc7b-gk7t66n1t53mpcf/original/avatar.jpg" alt="alternatetext">

In [63]:
# Starts with (A-Z or a-z or _)
0a = 5
if = 5 
hello = 5
print(Hello)
c@ = 5

SyntaxError: invalid decimal literal (3123449702.py, line 2)

# format

In [64]:
print("My name is {0},my age is {1}".format("amit",30))
print("My name is {},my age is {}".format("amit",30))
print("My name is {x},my age is {y}".format(x="amit",y=30))

My name is amit,my age is 30
My name is amit,my age is 30
My name is amit,my age is 30

In [65]:
name="amit"
age=30
print(f"my name is {name},my age is{age}")

my name is amit,my age is30

# Strings

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [66]:
# Single word
'h'

'h'

In [67]:
# Entire phrase
'This is also a string'

'This is also a string'

In [68]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [69]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: unterminated string literal (detected at line 2) (2053197537.py, line 2)

In [70]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

In [71]:
# We can simply declare a string
'Hello World'

'Hello World'

In [72]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'
'ahmed'

'ahmed'

We can use a print statement to print a string.

In [73]:
print('Hello World 1')
print('Hello World 2')
print('Use \t  to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use 	  to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [74]:
len('Hello World ')

12

## String Indexing

In [75]:
# Assign s as a string
s = 'Hello World'

In [76]:
#Check
s
s
s
s
s

'Hello World'

In [77]:
# Print the object
print(s)
print(s)
print(s)

Hello World
Hello World
Hello World

In [78]:
# Show first element (in this case a letter)
s[0]

'H'

In [79]:
s[5]

' '

In [80]:
s[-1]

'd'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [81]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [82]:
# Note that there is no change to the original s
s

'Hello World'

In [83]:
# Grab everything UP TO the 3rd index
s[:4]

'Hell'

In [84]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [85]:
s

'Hello World'

### Some Functions to Strings

In [86]:
name="amit learing"
print(name.upper())
name="amit learing"
print(name.lower())
name="amit learing"
print(name.replace("amit","hello"))
name="amit learing"
print(name.capitalize())

AMIT LEARING
amit learing
hello learing
Amit learing

In [87]:
name="amit learing"
print(name.title())
name="amit lEAring"
print(name.swapcase())
name="amit learing amit amit"
print(name.count("amit"))
name="amit learing amit learing"
print(name.split())

Amit Learing
AMIT LeaRING
3
['amit', 'learing', 'amit', 'learing']

In [88]:
words=["this","is","a","sentence"]
sentence="#".join(words)
print(sentence)

this#is#a#sentence

In [89]:
name="amit learing amit learning"
print(name.startswith("Amit"))

False

In [90]:
name="amit learing amit learning"
print(name.endswith("Learning"))

False

<img src="https://i.pinimg.com/736x/e7/d3/9f/e7d39fb70c949b40b1b819580d8ce08a.jpg" alt="alternatetext">